<dev>
    <p>Hi !! <%= @first_name %></p>
    <p>Please click on the link bellow to reset your password</p>
    <p><a href={@url}>Reset Password</a></p>
    <p>
        Thanks 
        <strong>Rent Cars</strong>
    </p>
</dev>